@charset "UTF-8";
@font-face {
  font-family: "Fontuna";
  src: url("../fonts/FontunaMedium.eot");
  src: local("☺"), url("../fonts/FontunaMedium.woff") format("woff"), url("../fonts/FontunaMedium.ttf") format("truetype"), url("../fonts/FontunaMedium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Fontuna";
}

.error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 115px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.error__logo {
  margin-bottom: 26px;
  max-width: 355px;
}

.error__logo img {
  width: 100%;
}

.error__number {
  font-weight: normal;
  font-size: 500px;
  line-height: 525px;
}

@media screen and (max-width: 576px) {
  .error__number {
    font-size: 300px;
    line-height: 325px;
  }
}

.error__btn {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f5d563;
  -webkit-box-shadow: 1px 3px 20px #f5d563;
          box-shadow: 1px 3px 20px #f5d563;
  border-radius: 5px;
  -webkit-transform: translate(-3px, -2px) skew(-10deg, 0deg);
  -ms-transform: translate(-3px, -2px) skew(-10deg, 0deg);
  transform: translate(-3px, -2px) skew(-10deg, 0deg);
  margin: 0 auto;
  color: #000;
  padding: 0 50px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .error__btn {
    padding: 0 20px;
  }
}

.error__btn:hover {
  background: #e7bb1a;
}
